<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript">
function beforeSubmit(form){
if(form.run_date.value ==''){
alert('运行时间不能为空！');
form.run_date.focus();
return false;
}

if(form.run_code.value ==''){
alert('脚本不能为空！');
form.run_code.focus();
return false;
}

if(form.send_person.value ==''){
alert('发送人员不能为空！');
form.send_person.focus();
return false;
}

if(form.send_room.value ==''){
alert('发送房间不能为空！');
form.send_room.focus();
return false;
}
return true;
}
</script>

<body>


<fieldset>
   <legend>新增任务</legend>
    <form method="post" name="form" action="/submit_task/" onSubmit="return beforeSubmit(this);">
     <table border="0" width="50%" cellspacing="20" cellpadding="0">

      <tr><td><label>任务名称：<input type="text" name="task_name" value=""></label></td></tr>
      <tr><td><label>执行时间：<input type="datetime-local" name="run_date" value=""></label></td></tr>
      <tr><td><label>执行脚本：<input type="text" name="run_code" value=""></label></td></tr>
      <tr><td><label>发送人员：<input type="text" name="send_person" value=""></label></td></tr>
      <tr><td><label>接收聊天室：<input type="text" name="send_room" value=""></label></td></tr>

{#    <div id="box">#}
{#        <label><input type="checkbox" name="all" checked="checked" value="T" />全选</label>#}
{#        <label><input type="checkbox" name="Mon" value="T" />周一</label>#}
{#        <label><input type="checkbox" name="Tues" value="T" />周二</label>#}
{#        <label><input type="checkbox" name="Wednes" value="T" />周三</label>#}
{#        <label><input type="checkbox" name="Thurs" value="T" />周四</label>#}
{#        <label><input type="checkbox" name="Fri" value="T" />周五</label>#}
{#        <label><input type="checkbox" name="Satur" value="T" />周六</label>#}
{#        <label><input type="checkbox" name="Sun" value="T" />周日</label>#}
{#    </div>#}

{#      <tr><td><label>上次执行结果：<input type="text" name="last_time" value=""></label></td></tr>#}
{#      <tr><td><label>上次执行日期：<input type="text" name="password2" value=""></label></td></tr>#}
      <tr><td><input value="提交" type="submit"><input type="reset" value="重置"></td></tr> </td></tr>
     </table>
    </form>
</fieldset>

</body>
</html>